@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/fonts/SpaceGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --brand-50: #eeedfd;
    --brand-100: #cac6f9;
    --brand-200: #b1aaf6;
    --brand-300: #8d84f2;
    --brand-400: #776CEF;
    --brand-500: #5547eb;
    --brand-600: #4d41d6;
    --brand-700: #3c32a7;
    --brand-800: #2f2781;
    --brand-900: #241e63;

    --gray-50: #F9FAFB;
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #b1b9c1;
    --gray-400: #a1acb5;
    --gray-500: #6C737F;
    --gray-600: #7e8994;
    --gray-700: #626b74;
    --gray-800: #1F2A37;
    --gray-900: #111927;

    --red-50: #fdebea;
    --red-100: #f9c2be;
    --red-200: #f6a49e;
    --red-300: #f27a72;
    --red-400: #ef6157;
    --red-500: #eb392d;
    --red-600: #d63429;
    --red-700: #a72820;
    --red-800: #811f19;
    --red-900: #631813;

    --orange-50: #fef7eb;
    --orange-100: #fbe6c1;
    --orange-200: #f9d9a3;
    --orange-300: #f6c878;
    --orange-400: #f5bd5e;
    --orange-500: #f2ad36;
    --orange-600: #dc9d31;
    --orange-700: #ac7b26;
    --orange-800: #855f1e;
    --orange-900: #664917;

    --green-50: #e9f9ef;
    --green-100: #baedcd;
    --green-200: #99e4b5;
    --green-300: #6bd893;
    --green-400: #4ed17e;
    --green-500: #22c55e;
    --green-600: #1fb356;
    --green-700: #188c43;
    --green-800: #136c34;
    --green-900: #0e5327;

    --blue-50: #e9f2fc;
    --blue-100: #bad6f5;
    --blue-200: #99c2f1;
    --blue-300: #6ba7ea;
    --blue-400: #4e95e6;
    --blue-500: #227be0;
    --blue-600: #1f70cc;
    --blue-700: #18579f;
    --blue-800: #13447b;
    --blue-900: #0e345e;

    --purple-50: #faefff;
    --purple-100: #f0ceff;
    --purple-200: #e9b6ff;
    --purple-300: #e095ff;
    --purple-400: #d981ff;
    --purple-500: #d061ff;
    --purple-600: #bd58e8;
    --purple-700: #9445b5;
    --purple-800: #72358c;
    --purple-900: #57296b;

    --base-white: #fff;
    --base-black: #000;
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

:root {
    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(1 0 89.876);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: var(--red-500);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --background:  #FAFAFA;
    --foreground: oklch(0.145 0 0);
}

@theme default {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: SpaceGrotesk;

    --color-indigo-50: var(--brand-50);
    --color-indigo-100: var(--brand-100);
    --color-indigo-200: var(--brand-200);
    --color-indigo-300: var(--brand-300);
    --color-indigo-400: var(--brand-400);
    --color-indigo-500: var(--brand-500);
    --color-indigo-600: var(--brand-600);
    --color-indigo-700: var(--brand-700);
    --color-indigo-800: var(--brand-800);
    --color-indigo-900: var(--brand-900);

    --color-gray-50: var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);

    --color-red-50: var(--red-50);
    --color-red-100: var(--red-100);
    --color-red-200: var(--red-200);
    --color-red-300: var(--red-300);
    --color-red-400: var(--red-400);
    --color-red-500: var(--red-500);
    --color-red-600: var(--red-600);
    --color-red-700: var(--red-700);
    --color-red-800: var(--red-800);
    --color-red-900: var(--red-900);

    --color-orange-50: var(--orange-50);
    --color-orange-100: var(--orange-100);
    --color-orange-200: var(--orange-200);
    --color-orange-300: var(--orange-300);
    --color-orange-400: var(--orange-400);
    --color-orange-500: var(--orange-500);
    --color-orange-600: var(--orange-600);
    --color-orange-700: var(--orange-700);
    --color-orange-800: var(--orange-800);
    --color-orange-900: var(--orange-900);

    --color-green-50: var(--green-50);
    --color-green-100: var(--green-100);
    --color-green-200: var(--green-200);
    --color-green-300: var(--green-300);
    --color-green-400: var(--green-400);
    --color-green-500: var(--green-500);
    --color-green-600: var(--green-600);
    --color-green-700: var(--green-700);
    --color-green-800: var(--green-800);
    --color-green-900: var(--green-900);

    --color-blue-50: var(--blue-500);
    --color-blue-100: var(--blue-100);
    --color-blue-200: var(--blue-200);
    --color-blue-300: var(--blue-300);
    --color-blue-400: var(--blue-400);
    --color-blue-500: var(--blue-500);
    --color-blue-600: var(--blue-600);
    --color-blue-700: var(--blue-700);
    --color-blue-800: var(--blue-800);
    --color-blue-900: var(--blue-900);

    --color-purple-50: var(--color-purple-50);
    --color-purple-100: var(--color-purple-100);
    --color-purple-200: var(--color-purple-200);
    --color-purple-300: var(--color-purple-300);
    --color-purple-400: var(--color-purple-400);
    --color-purple-500: var(--color-purple-500);
    --color-purple-600: var(--color-purple-600);
    --color-purple-700: var(--color-purple-700);
    --color-purple-800: var(--color-purple-800);
    --color-purple-900: var(--color-purple-900);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

body {
    background: var(--background);
    color: var(--base-black);
    font-family: SpaceGrotesk;
    line-height: 20px;
    font-weight: 500;
}

main{
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 768px) {
        padding: 24px 32px;
        gap: 20px;
    }

    @media (min-width: 1280px) {
        padding: 24px 48px;
        display: grid;
        grid-template-columns: 1fr 360px;
        gap: 24px;

        & > div{
            grid-column: 1/2;
        }

        &:nth-child(3){
            grid-column: 2/3;
        }
    }
}

aside{
    background: var(--base-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    transition: left 0.2s ease-in-out;
    &.open{
        left: 0;
    }

    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        z-index: 1;
    }
}

h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    letter-spacing: -1px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.subtitle1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.subtitle2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.body1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.body2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

caption {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.overline-text{
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-gray-300);
    border-radius: 50%;
    background-color: var(--base-white);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--base-white);
        width: 6px;
        height: 6px;
        scale: 0;
    }
    &:checked{
        background-color: var(--brand-500);
        &:after{
            scale: 1;
        }
        & + label{
                background-color: var(--brand-50);
                border-color: var(--brand-500);
        }
    }
}

[data-counter]:not([data-counter="0"]):not([data-counter=""]) {
    position: relative;
    margin-right: 10px;
}

[data-counter]::after {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    content: attr(data-counter);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 18px;
    background-color: var(--brand-400);
    color: var(--base-white);
    border-radius: 20px;
    position: absolute;
    top: -4px;
    right: -12px;
    border: 2px solid var(--base-white);
}